kornia
numpy
numba
neptune
lightning
opencv-python
seaborn
simple-parsing
matplotlib
fast_slic
pytictac
scipy
scikit-learn
xformers
torch_geometric
prettytable
termcolor
opentsne
git+https://github.com/utiasSTARS/liegroups.git
git+https://swsychen@bitbucket.org/chengym/phy_decoder.git
git+https://github.com/facebookresearch/segment-anything.git

