catkin_pkg==1.0.0
cv_bridge==1.15.0
fast_slic==0.4.0
genpy==0.6.15
kornia==0.7.1.dev0
liegroups==1.1.0
matplotlib==3.7.3
message_filters==1.15.13
numba==0.58.1
numpy==1.23.5
Phy_Decoder.egg==info
Pillow==9.2.0
Pillow==10.1.0
pytictac==1.0.9
rosgraph_msgs==0.0.1
rospy==1.15.13
seaborn==0.13.0
sensor_msgs==1.13.1
setuptools==68.2.2
simple_parsing==0.1.4
std_msgs==0.0.1
tf==1.0.0
torch==1.11.0
torch_geometric==2.1.0.post1
torchvision==0.12.0
wild_visual_navigation.egg==info
