<?xml version="1.0" encoding="utf-8"?>
<launch>

  <rosparam command="dump" param="/anymal_description" file="$(env HOME)/logs/raw/anymal_description.yaml" />
  <rosparam command="dump"  file="$(env HOME)/logs/raw/anymal_param_server.yaml" />

  <!--Note: recording location consistent with the ORI Anymal wiki page:
      https://wiki.oxfordrobots.com/display/DRS/Anymal-->
  <node name="rosbag" pkg="rosbag" type="record"
    args="-o $(env HOME)/logs/raw/anymal_wvn.bag
    --lz4 --chunksize=15360
    /wild_visual_navigation_node/robot_state

    /alphasense_driver_ros/cam4/debayered/compressed
    /alphasense_driver_ros/cam4/camera_info
    /alphasense_driver_ros/cam3/debayered/compressed
    /alphasense_driver_ros/cam3/camera_info
    /alphasense_driver_ros/cam5/debayered/compressed
    /alphasense_driver_ros/cam5/camera_info
    
    /motion_reference/command_twist
    /tf
    /tf_static
    
    /wild_visual_navigation_node/front/camera_info
    /wild_visual_navigation_node/front/confidence
    /wild_visual_navigation_node/front/debug/last_image_confidence
    /wild_visual_navigation_node/front/debug/last_image_traversability
    /wild_visual_navigation_node/front/debug/last_node_image_labeled
    /wild_visual_navigation_node/front/debug/last_node_image_mask
    /wild_visual_navigation_node/front/image_input
    /wild_visual_navigation_node/front/traversability

    /wild_visual_navigation_node/left/camera_info
    /wild_visual_navigation_node/left/confidence
    /wild_visual_navigation_node/left/debug/last_image_confidence
    /wild_visual_navigation_node/left/debug/last_image_traversability
    /wild_visual_navigation_node/left/debug/last_node_image_labeled
    /wild_visual_navigation_node/left/debug/last_node_image_mask
    /wild_visual_navigation_node/left/image_input
    /wild_visual_navigation_node/left/traversability

    /wild_visual_navigation_node/right/camera_info
    /wild_visual_navigation_node/right/confidence
    /wild_visual_navigation_node/right/debug/last_image_confidence
    /wild_visual_navigation_node/right/debug/last_image_traversability
    /wild_visual_navigation_node/right/debug/last_node_image_labeled
    /wild_visual_navigation_node/right/debug/last_node_image_mask
    /wild_visual_navigation_node/right/image_input
    /wild_visual_navigation_node/right/traversability

    /wild_visual_navigation_node/graph_footprints
    /wild_visual_navigation_node/instant_traversability
    /wild_visual_navigation_node/mission_graph
    /wild_visual_navigation_node/supervision_graph
    /wild_visual_navigation_node/robot_state
    /wild_visual_navigation_node/system_state
    /wild_visual_navigation_node/training_loss
    
    /rosout_agg
    /anymal_highlevel_controller/actuator_commands
    /anymal_low_level_controller/actuator_readings
    /anymal_low_level_controller/actuator_readings_extended_throttled
    /sensors/battery_voltage
    /sensors/imu
    /sensors/imu_augmented
    /state_estimator/actuator_readings
    /state_estimator/contact_force_lf_foot
    /state_estimator/contact_force_lh_foot
    /state_estimator/contact_force_rf_foot
    /state_estimator/contact_force_rh_foot
    /state_estimator/pose_in_odom
    /state_estimator/anymal_state
    /state_estimator/twist
    
    /depth_camera_front/point_cloud_self_filtered
    /depth_camera_rear/point_cloud_self_filtered
    /depth_camera_left/point_cloud_self_filtered
    /depth_camera_right/point_cloud_self_filtered
    /point_cloud_filter/lidar/point_cloud_filtered
    /lidar/point_cloud

    /depth_camera_front/color/image_raw/compressed
    /depth_camera_rear/color/image_raw/compressed
    /depth_camera_left/color/image_raw/compressed
    /depth_camera_right/color/image_raw/compressed

    /depth_camera_front/color/camera_info
    /depth_camera_rear/color/camera_info
    /depth_camera_left/color/camera_info
    /depth_camera_right/color/camera_info
    
    " output="screen">
  </node>
</launch>
