<launch>
  <!-- Arguments -->
  <arg name="elevation_mapping" default="True"/>
  <arg name="camera"            default="alphasense"/> <!-- alphasense, wide_angle_front, realsense_front, realsense_rear -->
  <arg name="stack"             default="anybotics"/> <!-- rsl or anybotics -->

  <!-- Use Elevation Mapping-->
  <include if="$(arg elevation_mapping)" file="$(find wild_visual_navigation_ros)/launch/elevation_mapping_cupy.launch"/>

  <!-- Launch node -->
  <include file="$(find wild_visual_navigation_ros)/launch/wild_visual_navigation.launch">
    <!-- wvn configuration file-->
    <arg name="inputs_file" value="$(find wild_visual_navigation_ros)/config/wild_visual_navigation/inputs/$(arg camera).yaml"/>

    <!-- stack -->
    <arg if="$(eval arg('stack') == 'rsl')" name="desired_twist_topic" value="/log/state/desiredRobotTwist"/>
    <arg if="$(eval arg('stack') == 'anybotics')" name="desired_twist_topic" value="/motion_reference/command_twist"/>
  </include>

</launch>
