<launch>
    <!-- Operation mode, 1 = 1 class (anomaly detection), 2 = 2 classes (binary classification)  -->
  <arg name="mode" default="1" />

  <arg name="config_file" default="$(find wild_visual_navigation_ros)/config/wild_anomaly_detection/wad_$(arg mode)cls.yaml"/>

  <!-- Run node -->
  <node pkg="wild_visual_navigation_ros"
      name="wild_anomaly_detection"
      type="wild_anomaly_detection_$(arg mode)cls_node.py"
      output="screen">
        <rosparam command="load" file="$(arg config_file)" subst_value="true"/>
  </node>
</launch>
